.pie {
    background-color: #b3916e;
    border-top: 2px solid #1f1106;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    a {
        img {
            width: 100px;
            padding: 8px;
        }
    }

    h3 {
        text-align: center;
    }

    div {
        a {
            .redes {
                width: 70px;
                margin: 0px 3px 0px 3px;
                border-radius: 20px;
            }
        }
    }
}