.formulario {
    margin-top: 30px;

    .form {
        @include centrado(flex, column, flex-end);
        border: #1f1106 3px solid;
        border-radius: 10px;
        padding: 10px;
        background-color: #1f110684;
        color: #f7ede1;

        div {
            margin: 5px;

            h3 {
                margin-top: 22px;
                font-size: 20px;
                text-decoration: overline;
                font-style: italic;
            }
        }

        .btn-contacto {
            display: flex;
            justify-content: flex-end;

            button {
                margin: 5px 8px 0px 8px;
                font-size: 15px;
                padding: 2px;
                border: 1px solid #1f1106c7;
                background-color: #F7EDE1;
                border-radius: 5px;

                &:hover {
                    background-color: #1f1106;
                    color: #F7EDE1;
                }
            }
        }
    }
}