.contacto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .mapa {
        width: 600px;
        height: 450px;
        display: flex;
        margin-top: 30px;
        border: 5px solid black;
        border-radius: 15px;

        .plano {
            width: 600px;
            height: 440px;
            border-radius: 15px;
        }
    }
}